html {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h2, h3 {
  font-weight: 600;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.15em;
  font-weight: 300;
}

a {
  color: black;
}

a:hover {
  color: #0097ff;
  text-decoration: none;
}
.navbar-default {
  background-color: white;
}

.navbar-brand {
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.7em;
}

.navbar-nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0097ff;
}

.navbar-default .navbar-brand {
     color: #0097ff;
}

.page-header {
  font-family: 'Dancing Script', sans-serif;
  font-size: 3.5em;
}