div.project_title
  h3 Earth Images
  
p Not only does the data captured by NASA's earth observing satellites offer 
    | great opportunities for analysis, it also makes for some beautiful images. 
    | I used Landsat-8 data and GIMP, an open source image editing software, to 
    | create the statellite images seen below, and I think placing these images 
    | next to ground photos taken in those locations on the ground offers a 
    | really interesting perspective.
hr

div.images
  each image in public.projects._data['earth-img']['images']
    div.img
      img(src="../projects/img/" + image.file alt=image.title)
      p=image.title + ": " + image.subtitle
