.container
  .row
    .col-lg-12
      h1.page-header Welcome
    .col-md-12.col-xs-12
      p
        | Thanks for stopping by! My name is Kayla, and I currently work for the City of Boston as a Data and Performance Analyst on the Citywide Analytics team. I graduated from Clark University with my M.S. in Geographic Information Science in August 2015, and my master's research focused on the spatial interactions of large and small-scale mining in Ghana. The work was published in 
        i Extractive Industries and Society
        |  as an original research article in April 2016. On this site you'll find examples of projects and work that I have completed. Feel free to send me an email with questions or comments!
        br
        br
        a#projects
      p
        a.fa.fa-envelope-o(style='font-size:24px', href='mailto:kayla.a.patel@gmail.com', target='_blank')
        a.fa.fa-twitter(href='https://twitter.com/paylakatel', style='font-size:24px', target='_blank')
        a.fa.fa-linkedin(href='https://www.linkedin.com/in/kaylapatel', style='font-size:24px', target='_blank')
        a.fa.fa-github(href='https://github.com/paylakatel', style='font-size:24px', target='_blank')
      p
