.container

    .row
        .col-lg-12
          h1.page-header Welcome
          
        .col-md-12.col-xs-12
          p 
            | Thanks for stopping by! My name is Kayla, and I currently work for the City of Boston as a Data and Performance Analyst on the Citywide Analytics team. I graduated from Clark University with my M.S. in Geographic Information Science in August 2015, and my master's research focused on the spatial interactions of large and small-scale mining in Ghana. The work was published in 
            i Extractive Industries and Society
            | as an original research article in April 2016. On this site you'll find examples of projects and work that I have completed. Feel free to send me an email with questions or comments!
            br
            br
            
            !=partial("_includes/_contact.jade")
            
    .row
        .col-lg-12
            h1.page-header Maps and Projects
            
    .section.teasers
        .col-lg-12
        
        each project, slug in public.projects._data            
            .col-md-6.portfolio-item
                
                //- Display image if available
            
                if project.image
                    .img-responsive.thumbnail
                        a(href="/projects/" + slug + ".html")
                            img(src="/projects/img/thumbs/" + project.image alt=project.title)
                
                h3.project-title
                        a(href="/projects/" + slug)=project.title
                
                p=project.subtitle
                
                
  
    
        
        
