@import "_components/_bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Source+Sans+Pro:300,400,600');
@import "_components/mixins";

$display-font: "Dancing Script", sans-serif;
$paragraph-font: "Source Sans Pro", sans-serif;
$light: 300;
$regular: 400;
$bold: 600;
$blue: #0097ff;
$grey: #B7B6B6;


body {
    font-family: $paragraph-font;

    p { @include paragraph }

    a { @include links }

    .navbar {
        @include navbar-font;
        background-color: white;

        .navbar-brand { @include brand }

        .navbar-nav { li { a:hover { color: $blue } } }
    }

    .fa { padding: 1px; font-size: 1.5em; }

    .page-header { @include title-large }

    .portfolio-items {
        display: flex;
        flex-flow: row wrap;
    }

    .thumbnail {
        &:hover {
            border-color: $grey;
        }
    }

    .portfolio-item { margin-bottom: 25px; }

    .project-title { @include title-medium }

    .caption {
        p {
            font-size: 1em; }
        }

    footer {
        margin: 50px 0;
        text-align: center;
    }
}
