@import "_components/_bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Barlow+Semi+Condensed:100,200');
@import "_components/mixins";

// $display-font: "Pacifico", sans-serif;
$display-font: "Permanent Marker", sans-serif;
$paragraph-font: "Barlow Semi Condensed", sans-serif;
$light: 200;
$regular: 400;
$black: 900;
$bold: 700;
$blue: #0097ff;
$light-blue: #49b6ff;
//$blue: #eda371;
$grey: #404040;
$dark-grey: #404040;


body {

    @include background;

    h1, h2, h3 {
      font-family: $display-font;
      font-weight: lighter;
      color: $dark-grey;
    }

    a { @include links }

    p, li { @include paragraph }

    .container {
        margin: 5%;

        .navbar {
          list-style: none;
          padding: 0;
          margin: 0;

          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-flow: row wrap;
          justify-content: flex-start;

          li {
            a { @include links;
              padding-right: 30px; }
          }
        }

        .header {
          display: flex;
          flex: wrap;


          .header-text {
            display: flex;
            flex-direction: column;
          }

          .welcome {
              font-family: $display-font;
              font-weight: lighter;
          }
        }

        .lists {
          padding: 0;
          margin: 0;
          list-style: none;

          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-flow: row wrap;
          justify-content: flex-start;

          .section {
            padding-right: 20px;
          }

          .job-details {
            font-style: italic;
            font-size: 20px;
          }

        }

        footer {
            margin: 10px 0;

            .fa {
              padding: 4px;
              font-size: 1.2em;
              text-decoration: none;

              &:hover {
                color: $light-blue;
              }
            }
        }
    }
}
