html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  margin-right: 20%;
  margin-left: 20%;
}

p {
  font-family: 'Crimson Text', serif;
  text-align: left;
  font-size: 1.1em;
  position: relative;
  font-weight: 300;
}

h2 {
  font-size: 1.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: left;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

/* NAVIGATION BAR */
.nav ul {
  list-style: none;
  text-align: left;
  padding: 0px;
  padding-bottom: 2%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  max-height: 100px;
}
.nav li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 50px;
  padding-right: 20px;
  float: left;
  display: inline;
  color: #170F11;
}
 
.nav a {
  text-decoration: none;
  color: #170F11;
  display: block;
}
 
.nav a:hover {
  color: #0097ff;
}
 
.nav a.active {
  color: #E2FCEF;
  cursor: default;
}

#name {
	float: right;
	padding-right: 0px;
}

/* HOME PAGE */
#imgNasa {
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* MAPS AND PROJECTS */
#mapNav ul {
	vertical-align: left;
  display: block;
  list-style-type: none;
  text-align: left;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#mapNav li {
  font-family: 'Crimson Text', serif;
  font-size: 1.35em;
  font-style: bold;
  color: #170F11;
  margin-top: 1.0em;
}

#mapNav p {
  font-family: 'Crimson Text', serif;
  font-size: 0.8em;
  margin-bottom: 1%;
  margin-top: .5%;
  overflow: visible;
}
 
#mapNav a {
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #170F11;
  display: block;
}
 
#mapNav a:hover {
  color: #0097ff;
}
 
#mapNav a.active {
  color: #E2FCEF;
  cursor: default;
}

/* FOOTER */
#connect {
	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 1.2em;
}


.footer, .push {
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 1.1em;
  height: 4em;
  font-weight: 300;
  position: relative;
}

/* TRAVEL */
#map_canvas {
  width: 100%;
  height: 500px;
}

#euroimgs {
  max-width: 100%;
  display: block;
}

/* RESUME */
#resume {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.logo { 
  position: relative;
  left: -2%;
  display: inline;
  width: 10%;
  vertical-align: middle;
  z-index: -1;
}

.jobs {
  text-indent: -5%;
  overflow: visible;
  height: 1%;
  margin: .3%;
}

.research {
  text-indent: 0;
  text-align: left;
  overflow: visible;
  height: 1%;
  margin: 0;
}

.desc { 
  margin-top: .07%;
  margin-bottom: 3%;
  left: 0%;
}

#skills {
  font-family: 'Crimson Text', serif;
  list-style-type: circle;
  font-size: 1.1em;
}

.explain {
  font-family: 'Crimson Text', serif;
  font-size: 1.0em;
}

/* GHANA IMAGES */ 
.figures {
  font-weight: 600;
  font-size: 1.05em;
}



/* EARTH IMAGES */ 

.title p {
  font-family: 'Crimson Text', serif;
  text-align: left;
  font-size: 1.1em;
  position: relative;
  font-weight: 700;
}

/* EARTHQUAKES */
#map {
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  position: relative;
}

.buttons_panel {
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  position: relative;
}

.buttons_panel ul {
  list-style: none;
  text-align: left;
  padding: 0;
  padding-bottom: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.buttons_panel li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 40px;
  height: 50px;
  padding-right: 20px;
  float: left;
  display: inline;
}

.buttons_panel img {
  padding-top: 6%;
  width: 25px;
}

.button {
  background: #BABEBF;
  padding: 4.5px 9px;
  color: black;
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  border: 2px;
  border-radius: 20px;
}

.button:hover {
   border-top-color: #008DD5;
   background: #008DD5;
   color: white;
   }

