// brand on navbar
@mixin brand {
    font-size: 1.7em;
    font-family: $display-font;
    color: $blue;
}

// navbar font
@mixin navbar-font {
    font-family: $paragraph-font;
    font-weight: $light;
    font-size: 1.1em;
}

// paragraph font style
@mixin paragraph {
    font-family: $paragraph-font;
    font-size: 1.25em;
    font-weight: $light;
}

// large title style
@mixin title-large {
    font-family: $display-font;
    font-size: 3em;
}

@mixin title-small {
    font-family: $paragraph-font;
    font-size: 2em;
    font-weight: $regular;
}

@mixin title-medium {
    font-family: $paragraph-font;
    font-size: 1.7em;
    font-weight: $bold;
}

// link style
@mixin links {
    & {
        color: black;
        text-decoration: none;

        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }
}
