// brand on navbar
@mixin brand {
    font-size: 1.8em;
    font-weight: 400;
    font-family: $display-font;
    color: $blue;
    text-decoration: none;
}

// navbar font
@mixin navbar-font {
    font-family: $paragraph-font;
    font-weight: $light;
    font-size: 1.1em;
}

// paragraph font style
@mixin paragraph {
    font-family: $paragraph-font;
    font-size: 16px;
    font-weight: $light;
    line-height: 1.5;
}

// large title style
@mixin title-large {
    font-family: $display-font;
    font-size: 2.5em;
}

@mixin title-small {
    font-family: $paragraph-font;
    font-size: 2em;
    font-weight: $regular;
}

@mixin title-medium {
    font-family: $display-font;
    font-size: 1.4em;
}

// paragraph link style
@mixin links {
    & {
        color: black;
        text-decoration: underline;

        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }
}

// navbar link style
@mixin navbar-links {
    & {
        text-decoration: none;
        font-size: .87em;

        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }
}

@mixin background {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #F6F6F6 1px, transparent 1px), linear-gradient(to bottom, #F6F6F6 1px, transparent 1px);
}
