@mixin background {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #F6F6F6 1px, transparent 1px), linear-gradient(to bottom, #F6F6F6 1px, transparent 1px);
}

@mixin img {
  display: block;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
  margin-left: auto;
  margin-right: auto;
}

@mixin flexbox {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

@mixin paragraph {
    font-family: $paragraph-font;
    font-size: $font-size-base;
    font-weight: $light;
    margin: 10px 0 10px 0;
    line-height: 1.4;
}

@mixin links {
  & {
    text-decoration: underline;
    text-decoration-color: #dbdbdb;
    color: black;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $light-blue;
      color: black;
    }
  }
}

@mixin well {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  background-color: $well-bg;
  border: 1px solid $well-border;
  border-radius: 4px;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
  p {
    font-size: 22px;
  }
}
